///
/// Override Bootstrap's default variables.
///

$blue-darker:   #264150;
$blue-dark:     #364c59;
$slate:         #718d99;
$light-gray:    #dce4e7;
$orange:        #f77700;
$teal-dark:     #649999;
$teal:          #00b9b8;
$lime:          #b4d536;
$black:         #222222;
$white:         #ffffff;
