---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

@import '../../scss/base/var';
@import '../../scss/base/bootstrap-config';

// Media Queries
$luster-screen-xs: 20em;
$luster-screen-sm: 28em;
$luster-screen-md: 38em;
$luster-screen-lg: 44em;

// Colors
$luster-brand-primary:    $brand-primary;
$luster-gray:             $gray;
$luster-gray-light:       $gray-light;
$luster-gray-lighter:     $gray-lighter;
$luster-link-color:       $link-color;
$luster-link-hover-color: $link-hover-color;

@import 'anchorjs';
@import 'content';
@import 'docs';
@import 'example';
@import 'footer';
@import 'header';
@import 'layout';
@import 'markdown-toc';
@import 'navigation';
@import 'syntax-highlighting';
