///
/// Layout
///
/// Layout-specific classes for the style guide.
///

$luster-navigation-width-sm: 14em;
$luster-navigation-width-md: 16em;

.luster-layout-sidebar {
    background: $luster-gray-lighter;

    @media (min-width: $luster-screen-sm) {
        border-right: thin solid $luster-gray-light;
        position: fixed;
        width: $luster-navigation-width-sm;
    }
    @media (min-width: $luster-screen-md) {
        width: $luster-navigation-width-md;
    }
}

.luster-layout-main {
    @media (min-width: $luster-screen-sm) {
        margin-left: $luster-navigation-width-sm;
        padding-right: 1.5em;
        padding-left: 1.5em;
    }
    @media (min-width: $luster-screen-md) {
        margin-left: $luster-navigation-width-md;
        max-width: 48em;
        padding-right: 3em;
        padding-left: 3em;
    }
}
