///
/// Override Bootstrap's default variables.
///

$blue-darker:   #264150;
$blue-dark:     #364c59;
$slate:         #718d99;
$light-gray:    #dce4e7;
$lime:          #b4d536;
$orange:        #f77700;
$red:           #e6412f;
$teal-dark:     #649999;
$teal:          #00b9b8;
$yellow:        #ffe411;

$black:         #222222;
$white:         #ffffff;

$border-width: 2px;
$focus-outline-width: 3px;
